APP_ENV=dev
APP_SECRET=changeme
ASSET_VERSION=1

DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"

DEFAULT_URI=http://localhost

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=changeme

MAILER_DSN=null://null

DISCORD_WEBHOOK_URL=

VAR_DUMPER_SERVER=
