
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.env
.env.dev
.agents
check_pwd.php
create_test_user.php
.opencode
.mimocode
config/reference.php
src/Controller/.gitignore

public/uploads/*
out.json

MEMORY.md