.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
}

.app-content {
  flex: 1;
  padding: var(--space-gutter);
  padding-bottom: calc(var(--space-gutter) + var(--mobile-nav-height));
  overflow: hidden;
  min-width: 0;
}

@media (min-width: 769px) {
  .app-content {
    padding: var(--space-margin-page);
  }
}

@media (max-width: 768px) {
  .app-content {
    padding-bottom: var(--space-gutter);
  }
}

body.app-main--full .app-layout {
  display: block;
}

body.app-main--full .app-content {
  padding: 0;
}

body.app-main--full .topbar {
  display: none;
}